<dialog id="{{ dialogId }}"
    class="w-full max-w-4xl m-auto max-md:mt-4 p-1 md:px-5 py-14 rounded-lg bg-gray-100
        dark:bg-gray-600">
    <form method="dialog" class="absolute top-3 right-3">
        <button class="cursor-pointer text-gray-500 hover:text-red-500 rounded-[50%] focus:outline-emerald-500
            dark:text-gray-300">
            <svg viewBox="0 0 24 24" width="32" height="32">
                <path
                    fill="currentColor"
                    d="m15.854,8.854l-3.146,3.146,3.146,3.146c.195.195.195.512,0,.707-.098.098-.226.146-.354.146s-.256-.049-.354-.146l-3.146-3.146-3.146,3.146c-.098.098-.226.146-.354.146s-.256-.049-.354-.146c-.195-.195-.195-.512,0-.707l3.146-3.146-3.146-3.146c-.195-.195-.195-.512,0-.707s.512-.195.707,0l3.146,3.146,3.146-3.146c.195-.195.512-.195.707,0s.195.512,0,.707Zm8.146,3.146c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-1,0c0-6.065-4.935-11-11-11S1,5.935,1,12s4.935,11,11,11,11-4.935,11-11Z" />
            </svg>
        </button>
    </form>
    <div id="{{ formId }}" class="w-full max-w-xl rounded-md mx-auto p-4 bg-gray-50
            dark:bg-gray-700"></div>
</dialog>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dialog = document.getElementById('{{ dialogId }}')
        const formContainer = document.getElementById('{{ formId }}')

        document.addEventListener('click', (event) => {
            if (event.target && event.target.dataset.dialogId === '{{ dialogId }}') {
                const loader = document.getElementById('{{ loadingId }}')
                const formTarget = formContainer.dataset.formTarget
                const dialogTarget = event.target.dataset.dialogTarget
                console.log(formTarget, dialogTarget)
                if (loader && (formTarget != dialogTarget)) {
                    formContainer.innerHTML = loader.innerHTML
                    formContainer.dataset.formTarget = dialogTarget
                }
                dialog.showModal()
            }
            if (event.target && event.target.dataset.dialogClose === '{{ dialogId }}') {
                dialog.close()
            }
        })
        document.body.addEventListener("dialogClose", () => {
            dialog.close()
        })
        document.body.addEventListener("clearForm", () => {
            formContainer.removeAttribute('data-form-target')
        })
        dialog.addEventListener('close', () => {
            formContainer.removeAttribute('data-form-target')
        })
    });
</script>